body{
    font-family: 'Open Sans', sans-serif;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
   list-style: none;
   margin-right: 51px; 
   align-items: center;  
}
.nav-title{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px

}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
   color: white;
    font-size: 20px;
font-weight: 700;
padding: 18px 35px 19px 36px;
}




.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
padding: 30px 40px 30px 150px;
display: flex;
align-items: center;

}
.profile-pic{
    width: 500px;
}
.banner-greeting{
    color: var(--Dark-02, #474747);
font-size: 45px;
margin-bottom: 0px;
}
.banner-title{
    color: var(--Dark-01, #181818);
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 10px;
}
.banner-content{
    max-width: 500px;
}
.banner{
    justify-content: space-between;
}